body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5f1fc;
    color: #131847;
}

header {
    background-color: #e5f1fc;
    color: black;
    text-align: center;
    padding: 2rem;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 8px;
}


footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #1b183d;
}
